{% extends 'inherited-temp/base.html' %} {% load staticfiles%} {% load bootstrap3%}

<!-- Styles block -->
{% block styles %} {{block.super}}
<link rel="stylesheet" href="{% static 'css/index.css'%}"> {% endblock %} {% block content %} {{block.super}}

<div class="container">

    <div class="row">


        <div class="col-md-4 col-lg-4 ">

                       <img src="{% static 'img/def.jpg' %}" alt="" class='img-responsive profile' srcset="">
        </div>

        <div class="col-md-4 col-lg-4 user">

            <h3 class="username">
                {{current_user.username}}
            </h3>
        </div>

    </div>

    <hr>

    <div class="row">
        {% for post in house %}


        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">

            <img src="{{post.house_pic.url}}" alt="" class="img-responsive">

        </div>

        {% endfor %}
    </div>
</div>

{% endblock %}