{% load staticfiles%}
<div class="left">
    <ul>
        <li>
            <a href="#">
                <img src="{% static 'img/logo.png'%}" style="margin-left:-16%" class='icon' alt="profile">
            </a>
        </li>
        <hr>
        <li>
            <a href="#">
                <img src="{% static 'img/profile.png'%}" class='icon' alt="profile">
            </a>
        </li>
        <hr>
        <li>
            <a href="#">
                <img src="{% static 'img/graph.png'%}" class='icon' alt="graph">
            </a>
        </li>
        <hr>
        <li>
            <a href="#">
                <img src="{% static 'img/table.png'%}" class='icon' alt="send">
            </a>
        </li>
        <hr>
    </ul>
    <div class="pointer">
        <a href="#" class="open">
            <img src="{% static 'img/next.png'%}" class='icon' alt="send">
        </a>
    </div>
</div>